##1.	Write a Python program to take two numbers as input from the user and display their sum.

In [2]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
sum = num1 + num2
print("Sum of ", num1, " and", num2, "is = ",sum)

Enter first number: 10
Enter second number: 20
Sum of  10  and 20 is =  30

##2.	Calculate and print the midpoint of two numbers entered by the user.

In [3]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
midpoint = (num1 + num2) / 2
print("Midpoint of ", num1, " and", num2, "is = ",midpoint)

Enter first number: 10
Enter second number: 20
Midpoint of  10  and 20 is =  15.0

##3.	Write a Python program to calculate the area of a triangle using the formula: area = 0.5 * base * height.

In [5]:
height = int(input("Enter height of triangle: "))
base = int(input("Enter base of triangle: "))
areaTriangle = 0.5 * base * height
print("Area of triangle with height:", height, "and base:",base," is = ",areaTriangle)

Enter height of triangle: 15
Enter base of triangle: 10
Area of triangle with height: 15 and base: 10  is =  75.0

##4.	Take three numbers as input from the user and display their product.

In [16]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
product = num1 * num2 * num3
print("Product of ", num1, ",", num2, "and", num3, "is = ",product)

Enter first number: 10
Enter second number: 20
Enter third number: 30
Product of  10 , 20 and 30 is =  6000

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

##5.	Take a number as input and display its square and cube.

In [8]:
num1 = int(input("Enter first number: "))
square = num1 * num1
cube = num1 ** 3
print("Square of",num1, "is =",square, "and its cube is = ",cube)

Enter first number: 2
Square of 2 is = 4 and its cube is =  8

##6.	Take two numbers as input and display their quotient and remainder.

In [10]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
quotient = num1/num2
remainder = num1%num2
print("Quotient of ", num1, " and", num2, "is = ",quotient, "and remainder is = ",remainder)

Enter first number: 15
Enter second number: 3
Quotient of  15  and 3 is =  5.0 and remainder is =  0

##7.	Take three numbers as input and display their average.

In [12]:
num1 = int(input("Enter first number: "))
num2 = int(input("Enter second number: "))
num3 = int(input("Enter third number: "))
average = (num1 + num2 + num3) / 3
print("Average of three numbers:",num1,",",num2,"and",num3,"is",average)

Enter first number: 10
Enter second number: 15
Enter third number: 5
Average of three numbers: 10 , 15 and 5 is 10.0

##8.	Write a Python program to calculate the area of a rectangle using the formula: area = length * width.

In [13]:
length = int(input("Enter length of rectangle: "))
width = int(input("Enter width of rectangle: "))
areaRectangle = length * width
print("Area of rectangle with length:", length, "and width:",width," is = ",areaRectangle)

Enter length of rectangle: 12
Enter width of rectangle: 6
Area of rectangle with length: 12 and width: 6  is =  72

##9.	Take five numbers as input representing marks obtained and total marks. Display the percentage.

In [15]:
sub1 = int(input("Enter first subject marks: "))
sub2 = int(input("Enter second subject marks: "))
sub3 = int(input("Enter third subject marks: "))
sub4 = int(input("Enter fourth subject marks: "))
sub5 = int(input("Enter fifth subject marks: "))
totalMarks = int(input("Enter total marks: "))
totalScored_marks = sub1 + sub2 + sub3 + sub4 + sub5
percentage = (totalScored_marks / totalMarks) * 100
print("Percentage obtained =",percentage)

Enter first subject marks: 82
Enter second subject marks: 72
Enter third subject marks: 85
Enter fourth subject marks: 90
Enter fifth subject marks: 78
Enter total marks: 500
Percentage obtained = 81.39999999999999

##Q.10 print helloworld

In [1]:
print("Hello World")

Hello World

##Q.11 describe local variable and global variable code

In [8]:
x = 10

def variable():
  y = 12
  print("Local variable y: ",y)
  print("Global variable x inside function: ",x)

variable()

print("gloabal variable outside function: ",x)

Local variable y:  12
Global variable x inside function:  10
gloabal variable outside function:  10

In [9]:
print("local variable outside function",y) #local variable canot be accessed outside

NameError: name 'y' is not defined

##Q.12 Write a code that describe Indentation error

Here is the code that give indentation error

In [4]:
a = 4
if a < 2:
print("Less than 2")
  else:
    print('Greater than 2')

IndentationError: expected an indented block after 'if' statement on line 2 (<ipython-input-4-7b11896627e2>, line 3)


##Q.13 write a code that describe local and global variable with same name

In [10]:
x = 10

def variable():
  x = 12
  print("Local variable x: ",x)
variable()

print("gloabal variable outside function: ",x)

Local variable x:  12
gloabal variable outside function:  10

##Q.14 Write a code for string, int and float input.

In [7]:
String = input("Enter string: ")
integer = int(input("Enter integer: "))
Float = float(input("Enter float number: "))

Enter string: abcd
Enter integer: 2
Enter float number: 2.5