## Assignment Questions:

## 1. Using input() function take one number from the user and using ternary operators check whether the number is even or odd.

In [4]:
num1 = int(input("Enter a number: "))
if num1 % 2 == 0:
  print("Given number is Even.")
else:
  print("Given number is Odd.")

Enter a number: 10
Given number is Even.

# 2. Using input function take two numbers and then swap the numbers.

In [5]:
#method 1
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
num1, num2 = num2 , num1
print("num1 =",num1)
print("num2 =",num2)

Enter a number: 4
Enter a number: 6
num1 = 6
num2 = 4

In [6]:
#method 2
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
temp = num1
num1 = num2
num2 = temp
print("num1 =",num1,"and num2 =",num2)

Enter a number: 8
Enter a number: 10
num1 = 10 and num2 = 8

# 3. Write a Program to Convert Kilometers to Miles.

In [8]:
km = float(input("Enter value in kilometer: "))
kmToMiles = km * 0.6213
print(km,"km is equal to",kmToMiles,"miles")

Enter value in kilometer: 15
15 km is equal to 9.3195 miles

# 4. Find the Simple Interest on Rs. 200 for 5 years at 5% per year.

In [9]:
#S.I. = (P * R * T)/100
p = 200
r = 5
t = 5
simpleInterest = (p*r*t)/100
print("Simple Interest on Rs. 200 for 5 years at 5% per year is ",simpleInterest)

Simple Interest on Rs. 200 for 5 years at 5% per year is  50.0

# 5. Calculate the area of a circle.
# Formula: Area of Circle = πr^2

In [10]:
radius = int(input("Enter radius of circle: "))
pi = 3.14
area = pi*(radius**2)
print("Area of circle =",area)

Enter radius of circle: 10
Area of circle = 314.0

# 6. Calculate the area of a triangle.
# Formula: Area of Triangle = (1/2) × Base × Height

In [12]:
height = int(input("Enter height of triangle: "))
base = int(input("Enter base of triangle: "))
areaTriangle = 0.5 * base * height
print("Area of triangle with height:", height, "and base:",base," is = ",areaTriangle)

Enter height of triangle: 12
Enter base of triangle: 10
Area of triangle with height: 12 and base: 10  is =  60.0

# 7. Calculate the area of a rectangle.
# Formula: Area of Rectangle = Length × Width

In [13]:
length = int(input("Enter length of rectangle: "))
width = int(input("Enter width of rectangle: "))
areaRectangle = length * width
print("Area of rectangle with length:", length, "and width:",width," is = ",areaRectangle)

Enter length of rectangle: 10
Enter width of rectangle: 15
Area of rectangle with length: 10 and width: 15  is =  150

# 8. Calculate the area of a square.
# Formula: Area of Square = Side^2

In [11]:
side = int(input("Enter length of side of square: "))
print("Area of square =",side**2)

Enter length of side of square: 4
Area of square = 16

# 9. Calculate the multiplication and sum of two numbers.

In [15]:
num1 = int(input("Enter a number: "))
num2 = int(input("Enter a number: "))
print("Multiplication of two numbers =",num1*num2,"\nSum of two numbers =",num1+num2)

Enter a number: 10
Enter a number: 12
Multiplication of two numbers = 120
Sum of two numbers = 22

# 10. Declare two variables and print which variable is largest.

In [16]:
a = 10
b = 30
max(a,b)

30

# 11. Python program to convert the temperature in degree centigrade to Fahrenheit.

In [21]:
degree = int(input("Enter value in degrees: "))
toFahrenheit = 32 + (degree*9/5)
print(degree,"degree C is equal to",toFahrenheit,"Fahrenheit")

Enter value in degrees: 5
5 degree C is equal to 41.0 Fahrenheit


# 12. Python program to find the area of a triangle whose sides are given.

In [22]:
height = 10
base = 12
areaTriangle = 0.5 * base * height
print("Area of triangle with height:", height, "and base:",base," is = ",areaTriangle)

Area of triangle with height: 10 and base: 12  is =  60.0